{
            "MAILFROM" : "user1@wserver.net",
            "MAILTO" : "user2",
            "MAILUSER" : "user1",
            "MAILPASS" : "user1",
            "IMAP_SERVER" : "server.net",
            "SMTP_SERVER" : "server.net"
        }