{
            "MAILFROM" : "user1@server.net",
            "MAILTO" : "user2",
            "MAILUSER" : "user1",
            "MAILPASS" : "user1",
            "IMAP_SERVER" : "server.net",
            "SMTP_SERVER" : "server.net",
            "SMTP_SSL": "True",
			"SMTP_PORT" : 123
        }
