{
      "MAILFROM" : "user you want to mail from, e.g.:user@mailserver.com",
      "MAILTO" : "user you want to send reports to, e.g.:report@mailserver.com",
      "MAILUSER" : "username of the sending user, e.g.: user",
      "MAILPASS" : "userpass of the sending user, e.g.: pass",
      "IMAP_SERVER" : "imap server of the sending user, e.g.: imap.google.com",
      "SMTP_SERVER" : "smtp server of the sending user, e.g.: smtp.google.com",
      "NASFOLDER" : "folder on you NAS, where you want to save the pdf files, e.g.:/volume1/documents/",
      "NASUSER" : "user on the NAS, wich has the rights to store files at NASFOLDER, e.g.:user",
      "NASSERVER" : "ip of the NAS, e.g.:192.168.1.2",
      "WEBDAV_PATH" : "webdav path, where stored PDFs are avilable, e.g.:https://192.168.1.2:5555/documents",
      "PICTURES_VOLUME" : "/pictures"
}
