{
    "MAILFROM" : "mail@domain",
    "MAILTO" : "mail@domain",
    "MAILUSER" : "mail@domain",
    "MAILPASS" : "user",
    "WEBDAV_PATH" : "https://192.168.1.1:port/path/",
    "IMAP_SERVER" : "imap.imap",
    "DIGITAL_DEPOT" : "/Users/you/digital_depot_test",
    "NASUSER" : "use",
    "NASSERVER" : "192.168.1.1",
    "SMTP_SERVER" : "smtp.smtp",
   "SMTP_SSL": "True",
   "SMTP_PORT" : 123,
   "OCR" : "False"	,
   "SCAN_INPUT" : "/Users/you/scan_input_test"	 

}
